@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Dashboard";
}
@section  styles{
<link rel="stylesheet" href="~/css/site.css">
}

<h4>Student controls</h4>
<a class="btn btn-primary" asp-controller="admin" asp-action="CreateStudent">Add student</a>
<a class="btn btn-primary m-2" asp-action="showlist" asp-controller="admin">Show all students</a>
<a class="btn btn-primary" asp-action="Index" asp-controller="search">Search for student</a>

<hr>
<h4>User controls</h4>
<a class="btn btn-primary" asp-action="adduser" asp-controller=admin>Add user</a>
<a class="btn btn-primary m-2" asp-action="showusers" asp-controller="admin">Show all users</a>
<hr>


<div id="data">
    <h4>Database info</h4>
 <span class="badge bg-primary">Number of students: @ViewBag.studentcount </span>
 <span class="badge bg-success">Number of vaccined students: @ViewBag.vaccined</span>
 <span class="badge bg-danger">Number of not vaccined students: @ViewBag.notvaccined </span> 
</div>

