@model VaccineChecker.Models.user
@{
 ViewData["Title"] = "Edit user";
}
<h4>user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edituserData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="username" />
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isadmin" class="control-label">is admin</label>
                <select asp-for="isadmin" class="form-control">
                    <option selected disabled></option>
                    <option>True</option>
                    <option>False</option>
                </select>
                 <span asp-validation-for="isadmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="showusers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
